* {
  font-family: sans-serif;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #515151;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  width: 450px;
  height: 300px;
}

.header {
  border-radius: 10px;
  background-color: #fff;
}

.body {
  padding: 0.2rem 1.3rem;
}

.footer {
  margin-top: 0.7rem;
  margin-right: 1.2rem;
}

p {
  line-height: 1.4rem;
}
